.view9 {
  .part1 {
    width: 6.7rem;
    height: 4.5rem;
    bottom: 3.92rem;
    left: 0.4rem;
    background: url(#{$image_path}view9-part1.png) no-repeat;
    background-position: center;
    background-size: 100%;
    @extend %absolute;
  }

  .part1.fadeInLeft {
    animation-name: fadeInLeft9-1;

    @keyframes fadeInLeft9-1 {
      0% {
        opacity: 0;
        transform: translateX(7.1rem);
      }

      99% {
        opacity: 1;
        transform: translateX(0);
        background-image: url(#{$image_path}view9-part1.png);
      }

      100% {
        opacity: 1;
        background-image: url(#{$image_path}view9-part1.gif);
      }
    }
  }
}